{% extends 'layout.twig' %} {% block content %}
    <body>
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
    <link
            href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap"
            rel="stylesheet"
    />
    <link
            href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/homePage.css"/>
    <link rel="stylesheet" href="/css/postButton.css"/>
    <script
            src="https://kit.fontawesome.com/eff169ac44.js"
            crossorigin="anonymous"
    ></script>
    {#    {{ dump() }} #}
    {% for post in posts %}
        <section>
            <details closed>
                <summary>{{ post['name'] }}</summary>
                <div>
                    {% if post['status'] == 1 %}
                        <div class=" mt-3">
                            <i class="fa-solid  fa-xs fa-box-archive">Draft</i>
                        </div>
                    {% else %}
                        <div class="mt-3">
                            <i class="fa-solid fa-xs fa-paper-plane">Posted</i>
                        </div>
                    {% endif %}
                    <p>
                        {{ post['content'] }}
                    </p>
                    {% if post['status'] == 1 %}
                        <div class="container justify-content-end">
                            <a style="width: 100px; height: 40px;" href="/post/{{ post['id'] }}" type="button"
                               class="btn btn-outline-success">View</a>
                            <a style="margin-left: 10px; width: 100px; height: 40px;"  href="/post/{{ post['id'] }}/edit" type="button"
                               class="btn btn-outline-warning">Draft</a>
                        </div>
                    {% endif %}
                </div>

            </details>
        </section>
    {% endfor %}
    </body>
{% endblock %}
