{% extends 'layout.twig' %}
{% block content %}
    {{ dump() }}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    {% if post is not empty or editPostErrors is not empty %}
        <form method="post" action="/post/{{ post['id'] }}">
            <div class=" mb-3 container w-25">
                <label for="exampleFormControlInput1" class="isform-label">Label</label>
                <input type="text" name="name" value="{{ post['name'] }}" class="form-control
                    {% if editPostErrors ['name'][0] %} {{ "is-invalid" }} {% endif %}" id="exampleFormControlInput1"
                       placeholder="My grateful label">
                <div class="invalid-feedback">{{ editPostErrors['name'][0] }}</div>
            </div>
            <div class="mb-3 container ">
                <div class="w-50 container">
                    <label for="exampleFormControlTextarea1" class="form-label">Content</label>
                    <textarea class="form-control
                        {% if editPostErrors['content'][0] %} {{ "is-invalid" }} {% endif %}" name="content"
                              id="exampleFormControlTextarea1" rows="3"
                              placeholder="Blablabla..">{{ post['content'] }}
                    </textarea>
                    <div class="invalid-feedback">{{ editPostErrors['content'][0] }}</div>
                    <div class="mt-5 d-grid gap-2 d-md-flex justify-content-md-end">
                        <input name="draft" value="true" type="checkbox" class="btn-check" id="btn-check-outlined"
                               autocomplete="off">
                        <label class="btn btn-outline-primary" for="btn-check-outlined">Draft</label><br>
                        <input name="_METHOD" value="PUT" type="hidden"></input>
                        <button class="btn btn-outline-success" type="submit">Save</button>
                    </div>
                </div>
            </div>
        </form>
    {% else %}
        <form method="post" action="/posts">
            <div class=" mb-3 container w-25">
                <label for="exampleFormControlInput1" class="isform-label">Label</label>
                <input type="text" name="name" value="This Is Label" class="form-control
                    {% if createPostsErrors['name'] %} {{ "is-invalid" }} {% endif %}" id="exampleFormControlInput1"
                       placeholder="My grateful label">
                <div class="invalid-feedback">{{ createPostsErrors['name'][0] }}</div>
            </div>
            <div class="mb-3 container ">
                <div class="w-50 container">
                    <label for="exampleFormControlTextarea1" class="form-label">Content</label>
                    <textarea class="form-control
                        {% if createPostsErrors['content'] %} {{ "is-invalid" }} {% endif %}" name="content"
                              id="exampleFormControlTextarea1" rows="3"
                              placeholder="Blablabla..">Blablabla.. Blablabla.. Blablabla.. Blablabla.. Blablabla..Blablabla.. Blablabla.. Blablabla.. Blablabla.. Blablabla..Blablabla.. Blablabla.. Blablabla.. Blablabla.. Blablabla..
                    </textarea>
                    <div class="invalid-feedback">{{ createPostsErrors['content'][0] }}</div>
                    <div class="mt-5 d-grid gap-2 d-md-flex justify-content-md-end">
                        <input name="draft" value="true" type="checkbox" class="btn-check" id="btn-check-outlined"
                               autocomplete="off">
                        <label class="btn btn-outline-primary" for="btn-check-outlined">Draft</label><br>
                        <button class="btn btn-outline-success" type="submit">Save</button>
                    </div>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}