{% extends 'layout.twig' %}
{% block content %}
    <div class="container w-50">
        <div class="mb-3 d-grid gap-2 d-md-flex justify-content-md-end">
{#         todo видит только юзер с куки   #}
            <form method="post">
                <button type="submit" value="/posts" class="btn btn-outline-secondary">Write post</button>
            </form>
        </div>
        <div class="accordion" id="accordionExample">
            {% for posts in posts %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#post{{ posts['id'] }}" aria-expanded="true"
                                aria-controls="collapseOne">
                            {{ posts['name'] }}
                        </button>
                    </h2>
                    <div id="post{{ posts['id'] }}" class="accordion-collapse collapse
                        {{ (posts['id'] == 1) ? 'show' }}
                        " aria-labelledby="headingOne"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            {{ posts['content'] }}
                            <div class="d-flex flex-row-reverse bd-highlight">
                                <div class="p-2 bd-highlight">
                                    <form method="get">
                                        <a href="post/{{ posts['id'] }}" type="button" class="btn btn-outline-success">Read
                                            More</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
